.badge {
  margin-left: 3px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 7px;
  border-radius: 3px;
  font-weight: 500;
  background-color: #E0E0E0;
  color: #636363;
  user-select: none;
  cursor: pointer;
  height: 27px;
}

.badge-outline {
  margin-left: 3px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 4px 6px;
  border-radius: 3px;
  font-weight: 500;
  border: 1px solid #E0E0E0;
  color: #636363;
  user-select: none;
  cursor: pointer;
}

.badge-primary {
  background-color: var(--primary);
  color: var(--primary-text);
}

.badge-success {
  background-color: var(--success);
  color: var(--success-text);
}

.badge-error {
  background-color: var(--error);
  color: var(--error-text);
}

.badge-warning {
  background-color: var(--warning);
  color: var(--warning-text);
}
