.dialog {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid #DDD;
  border-radius: 5px;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, .1);
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  background-color: #FFF;
}

.dialog .seperator {
  border-top: 1px solid #EEE;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dialog .item {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 12px 20px;
  padding-right: 22px;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dialog .item:hover {
  background-color: #1976d2;
}

.dialog .item:hover .icon {
  filter: brightness(0) invert(1);
}

.dialog .item:hover .item-content .option {
  color: #FFF;
}

.dialog .item:hover .item-content .info {
  color: #FFF;
}

.dialog .item .icon {
  display: inline-flex;
  flex-direction: column;
  padding-right: 10px;
  transition:  0.2s;
}

.dialog .item .icon .invisible {
  opacity: 0;
}

.dialog .item .item-content {
  display: inline-block;
  flex-direction: column;
}

.dialog .item .item-content .option {
  color: #555;
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 4px;
  transition: 0.2s;
}

.dialog .item .item-content .info {
  color: #AAA;
  font-size: 14px;
  transition: 0.2s;
}
