<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="ISO_8859_1">
<meta name="author" content="Prototype Studio">
<meta name="keywords" content="@{meta.keywords}">
<meta name="description" content="@{meta.description}">
<meta name="theme-color" content="@{meta.themeColor}">
<link rel="shortcut icon" type="image/icon" href="src/assets/favicon.png">
<link rel="stylesheet" type="text/css" href="src/css/root.css">
<script type="text/javascript" src="/src/js/nodescript.js"></script>