<nav class="container-fluid">
	<section class="container my-2">
		<div class="row">
			<div class="col-4">
				<div class="row-in">
					<label class="brand text text-bold"> <a href="/"
						class="text-none">Prototype Studio</a>
					</label>
				</div>
			</div>
			<div class="col-8">
				<div class="row al-right">
					<div class="search m-1">
						<div class="material-icons">search</div>
						<input type="text" spellcheck="false" autocomplete="off" class="input" placeholder="Search">
					</div>
					@{login}
				</div>
			</div>
		</div>
	</section>
</nav>