<!DOCTYPE text/html>
<html lang="@{lang}">
	<head>
		<title>@{title}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Prototype Studio">
		<meta charset="">
		<meta name="keywords" content="">
		<!-- TODO: Keywords -->
		<meta name="description" content="">
		<!-- TODO: Description -->
		<link rel="shortcut icon" type="image/png" href="src/img/favicon.png">
		<!-- TODO: Favicon -->
		<link rel="stylesheet" href="src/css/master.css">
		<link rel="stylesheet" href="src/css/main.css">
		<link rel="stylesheet" href="src/css/icon.css">
		<link rel="stylesheet" href="src/css/tooltip.css">
	</head>
	<body>
		@{body}
	</body>
</html>