@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

* {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
	box-sizing: border-box;
	color: #263238;
	outline: none;
}

html, body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font-size: 14px;
}

.section { width: 100%; }

.container { margin: 0 auto; }

.row, .row-in {
	flex-direction: row;
	flex-wrap: wrap;
}

.row { display: flex; }

.row-in { display: inline-flex; }

@media (min-width: 0px) {

	.container { width: 376px; }

	.col-1 { width: 8.333%; }
	.col-2 { width: 16.666%; }
	.col-3 { width: 25%; }
	.col-4 { width: 33.333%; }
	.col-5 { width: 41.666%; }
	.col-6 { width: 50%; }
	.col-7 { width: 58.333%; }
	.col-8 { width: 66.666%; }
	.col-9 { width: 75%; }
	.col-10 { width: 83.333%; }
	.col-11 { width: 91.666%; }
	.col-12 { width: 100%; }
}

@media (min-width: 576px) {

	.container { width: 576px; }

	.col-xs-1 { width: 8.333%; }
	.col-xs-2 { width: 16.666%; }
	.col-xs-3 { width: 25%; }
	.col-xs-4 { width: 33.333%; }
	.col-xs-5 { width: 41.666%; }
	.col-xs-6 { width: 50%; }
	.col-xs-7 { width: 58.333%; }
	.col-xs-8 { width: 66.666%; }
	.col-xs-9 { width: 75%; }
	.col-xs-10 { width: 83.333%; }
	.col-xs-11 { width: 91.666%; }
	.col-xs-12 { width: 100%; }
}

@media (min-width: 768px) {

	.container { width: 768px; }

	.col-sm-1 { width: 8.333%; }
	.col-sm-2 { width: 16.666%; }
	.col-sm-3 { width: 25%; }
	.col-sm-4 { width: 33.333%; }
	.col-sm-5 { width: 41.666%; }
	.col-sm-6 { width: 50%; }
	.col-sm-7 { width: 58.333%; }
	.col-sm-8 { width: 66.666%; }
	.col-sm-9 { width: 75%; }
	.col-sm-10 { width: 83.333%; }
	.col-sm-11 { width: 91.666%; }
	.col-sm-12 { width: 100%; }
}

@media (min-width: 992px) {

	.container { width: 992px; }

	.col-tl-1 { width: 8.333%; }
	.col-tl-2 { width: 16.666%; }
	.col-tl-3 { width: 25%; }
	.col-tl-4 { width: 33.333%; }
	.col-tl-5 { width: 41.666%; }
	.col-tl-6 { width: 50%; }
	.col-tl-7 { width: 58.333%; }
	.col-tl-8 { width: 66.666%; }
	.col-tl-9 { width: 75%; }
	.col-tl-10 { width: 83.333%; }
	.col-tl-11 { width: 91.666%; }
	.col-tl-12 { width: 100%; }
}

@media (min-width: 1200px) {

	.container { width: 1200px; }

	.col-dt-1 { width: 8.333%; }
	.col-dt-2 { width: 16.666%; }
	.col-dt-3 { width: 25%; }
	.col-dt-4 { width: 33.333%; }
	.col-dt-5 { width: 41.666%; }
	.col-dt-6 { width: 50%; }
	.col-dt-7 { width: 58.333%; }
	.col-dt-8 { width: 66.666%; }
	.col-dt-9 { width: 75%; }
	.col-dt-10 { width: 83.333%; }
	.col-dt-11 { width: 91.666%; }
	.col-dt-12 { width: 100%; }
}

.m-1 { margin: 10px; }
.m-2 { margin: 20px; }
.m-3 { margin: 30px; }
.m-4 { margin: 40px; }
.m-5 { margin: 50px; }
.m-6 { margin: 60px; }
.m-7 { margin: 70px; }
.m-8 { margin: 80px; }
.m-9 { margin: 90px; }
.m-10 { margin: 100px; }
.m-20 { margin: 200px; }
.m-30 { margin: 300px; }
.m-40 { margin: 400px; }
.m-50 { margin: 500px; }

.mx-1 { margin-left: 10px; margin-right: 10px; }
.mx-2 { margin-left: 20px; margin-right: 20px; }
.mx-3 { margin-left: 30px; margin-right: 30px; }
.mx-4 { margin-left: 40px; margin-right: 40px; }
.mx-5 { margin-left: 50px; margin-right: 50px; }
.mx-6 { margin-left: 60px; margin-right: 60px; }
.mx-7 { margin-left: 70px; margin-right: 70px; }
.mx-8 { margin-left: 80px; margin-right: 80px; }
.mx-9 { margin-left: 90px; margin-right: 90px; }
.mx-10 { margin-left: 100px; margin-right: 100px; }
.mx-20 { margin-left: 200px; margin-right: 1200px; }
.mx-30 { margin-left: 300px; margin-right: 300px; }
.mx-40 { margin-left: 400px; margin-right: 400px; }
.mx-50 { margin-left: 500px; margin-right: 500px; }

.my-1 { margin-top: 10px; margin-bottom: 10px; }
.my-2 { margin-top: 20px; margin-bottom: 20px; }
.my-3 { margin-top: 30px; margin-bottom: 30px; }
.my-4 { margin-top: 40px; margin-bottom: 40px; }
.my-5 { margin-top: 50px; margin-bottom: 50px; }
.my-6 { margin-top: 60px; margin-bottom: 60px; }
.my-7 { margin-top: 70px; margin-bottom: 70px; }
.my-8 { margin-top: 80px; margin-bottom: 80px; }
.my-9 { margin-top: 90px; margin-bottom: 90px; }
.my-10 { margin-top: 100px; margin-bottom: 100px; }
.my-20 { margin-top: 200px; margin-bottom: 200px; }
.my-30 { margin-top: 300px; margin-bottom: 300px; }
.my-40 { margin-top: 400px; margin-bottom: 400px; }
.my-50 { margin-top: 500px; margin-bottom: 500px; }

.mt-1 { margin-top: 10px; }
.mt-2 { margin-top: 20px; }
.mt-3 { margin-top: 30px; }
.mt-4 { margin-top: 40px; }
.mt-5 { margin-top: 50px; }
.mt-6 { margin-top: 60px; }
.mt-7 { margin-top: 70px; }
.mt-8 { margin-top: 80px; }
.mt-9 { margin-top: 90px; }
.mt-10 { margin-top: 100px; }
.mt-20 { margin-top: 200px; }
.mt-30 { margin-top: 300px; }
.mt-40 { margin-top: 400px; }
.mt-50 { margin-top: 500px; }

.mb-1 { margin-bottom: 10px; }
.mb-2 { margin-bottom: 20px; }
.mb-3 { margin-bottom: 30px; }
.mb-4 { margin-bottom: 40px; }
.mb-5 { margin-bottom: 50px; }
.mb-6 { margin-bottom: 60px; }
.mb-7 { margin-bottom: 70px; }
.mb-8 { margin-bottom: 80px; }
.mb-9 { margin-bottom: 90px; }
.mb-10 { margin-bottom: 100px; }
.mb-20 { margin-bottom: 200px; }
.mb-30 { margin-bottom: 300px; }
.mb-40 { margin-bottom: 400px; }
.mb-50 { margin-bottom: 500px; }

.ml-1 { margin-left: 10px; }
.ml-2 { margin-left: 20px; }
.ml-3 { margin-left: 30px; }
.ml-4 { margin-left: 40px; }
.ml-5 { margin-left: 50px; }
.ml-6 { margin-left: 60px; }
.ml-7 { margin-left: 70px; }
.ml-8 { margin-left: 80px; }
.ml-9 { margin-left: 90px; }
.ml-10 { margin-left: 100px; }
.ml-20 { margin-left: 200px; }
.ml-30 { margin-left: 300px; }
.ml-40 { margin-left: 400px; }
.ml-50 { margin-left: 500px; }

.mr-1 { margin-right: 10px; }
.mr-2 { margin-right: 20px; }
.mr-3 { margin-right: 30px; }
.mr-4 { margin-right: 40px; }
.mr-5 { margin-right: 50px; }
.mr-6 { margin-right: 60px; }
.mr-7 { margin-right: 70px; }
.mr-8 { margin-right: 80px; }
.mr-9 { margin-right: 90px; }
.mr-10 { margin-right: 100px; }
.mr-20 { margin-right: 200px; }
.mr-30 { margin-right: 300px; }
.mr-40 { margin-right: 400px; }
.mr-50 { margin-right: 500px; }

.p-1 { padding: 10px; }
.p-2 { padding: 20px; }
.p-3 { padding: 30px; }
.p-4 { padding: 40px; }
.p-5 { padding: 50px; }
.p-6 { padding: 60px; }
.p-7 { padding: 70px; }
.p-8 { padding: 80px; }
.p-9 { padding: 90px; }
.p-10 { padding: 100px; }
.p-20 { padding: 200px; }
.p-30 { padding: 300px; }
.p-40 { padding: 400px; }
.p-50 { padding: 500px; }

.px-1 { padding: 0 10px; }
.px-2 { padding: 0 20px; }
.px-3 { padding: 0 30px; }
.px-4 { padding: 0 40px; }
.px-5 { padding: 0 50px; }
.px-6 { padding: 0 60px; }
.px-7 { padding: 0 70px; }
.px-8 { padding: 0 80px; }
.px-9 { padding: 0 90px; }
.px-10 { padding: 0 100px; }
.px-20 { padding: 0 200px; }
.px-30 { padding: 0 300px; }
.px-40 { padding: 0 400px; }
.px-50 { padding: 0 500px; }

.py-1 { padding: 10px 0; }
.py-2 { padding: 20px 0; }
.py-3 { padding: 30px 0; }
.py-4 { padding: 40px 0; }
.py-5 { padding: 50px 0; }
.py-6 { padding: 60px 0; }
.py-7 { padding: 70px 0; }
.py-8 { padding: 80px 0; }
.py-9 { padding: 90px 0; }
.py-10 { padding: 100px 0; }
.py-20 { padding: 200px 0; }
.py-30 { padding: 300px 0; }
.py-40 { padding: 400px 0; }
.py-50 { padding: 500px 0; }

.pt-1 { padding-top: 10px; }
.pt-2 { padding-top: 20px; }
.pt-3 { padding-top: 30px; }
.pt-4 { padding-top: 40px; }
.pt-5 { padding-top: 50px; }
.pt-6 { padding-top: 60px; }
.pt-7 { padding-top: 70px; }
.pt-8 { padding-top: 80px; }
.pt-9 { padding-top: 90px; }
.pt-10 { padding-top: 100px; }
.pt-20 { padding-top: 200px; }
.pt-30 { padding-top: 300px; }
.pt-40 { padding-top: 400px; }
.pt-50 { padding-top: 500px; }

.pb-1 { padding-bottom: 10px; }
.pb-2 { padding-bottom: 20px; }
.pb-3 { padding-bottom: 30px; }
.pb-4 { padding-bottom: 40px; }
.pb-5 { padding-bottom: 50px; }
.pb-6 { padding-bottom: 60px; }
.pb-7 { padding-bottom: 70px; }
.pb-8 { padding-bottom: 80px; }
.pb-9 { padding-bottom: 90px; }
.pb-10 { padding-bottom: 100px; }
.pb-20 { padding-bottom: 200px; }
.pb-30 { padding-bottom: 300px; }
.pb-40 { padding-bottom: 400px; }
.pb-50 { padding-bottom: 500px; }

.pl-1 { padding-left: 10px; }
.pl-2 { padding-left: 20px; }
.pl-3 { padding-left: 30px; }
.pl-4 { padding-left: 40px; }
.pl-5 { padding-left: 50px; }
.pl-6 { padding-left: 60px; }
.pl-7 { padding-left: 70px; }
.pl-8 { padding-left: 80px; }
.pl-9 { padding-left: 90px; }
.pl-10 { padding-left: 100px; }
.pl-20 { padding-left: 200px; }
.pl-30 { padding-left: 300px; }
.pl-40 { padding-left: 400px; }
.pl-50 { padding-left: 500px; }

.pr-1 { padding-right: 10px; }
.pr-2 { padding-right: 20px; }
.pr-3 { padding-right: 30px; }
.pr-4 { padding-right: 40px; }
.pr-5 { padding-right: 50px; }
.pr-6 { padding-right: 60px; }
.pr-7 { padding-right: 70px; }
.pr-8 { padding-right: 80px; }
.pr-9 { padding-right: 90px; }
.pr-10 { padding-right: 100px; }
.pr-20 { padding-right: 200px; }
.pr-30 { padding-right: 300px; }
.pr-40 { padding-right: 400px; }
.pr-50 { padding-right: 500px; }

.line-1 { line-height: 10px; }
.line-2 { line-height: 20px; }
.line-3 { line-height: 30px; }
.line-4 { line-height: 40px; }
.line-5 { line-height: 50px; }
.line-6 { line-height: 60px; }

.al-left { justify-content: flex-start; }
.al-right { justify-content: flex-end; }
.al-center { justify-content: center; }
.al-between { justify-content: space-between; }
.al-around { justify-content: space-around; }

// .text { user-select: none; }

.text-light { color: #FFFFFF; }
.text-dark { color: #444444; }

.text-thin { font-weight: 300; }
.text-bold { font-weight: 500; }
.text-black { font-weight: 600; }

.text-none { text-decoration: none; }
.text-line { text-decoration: line-through; }
.text-underline { text-decoration: underline; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-block { text-align: justify; }

.cursor-click { cursor: pointer; }
.cursor { cursor: default; }
.cursor-none { pointer-events: none; }

.h1 { font-size: 120px; }
.h2 { font-size: 88px; }
.h3 { font-size: 44px; }
.h4 { font-size: 32px; }
.h5 { font-size: 18px; }
.h6 { font-size: 16px; }

.image {
	overflow: hidden;
	pointer-events: none;
	user-select: none;
}

.image-x img { width: 100%; }
.image-y img { height: 100%; }
