@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

* {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
	box-sizing: border-box;
	outline: none;
}

html, body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font-size: 14px;
}

.container-fluid {
	width: 100%;
}

.container {
	margin: 0 auto;
}

.row-fluid, .col-fluid {
	display: inline-flex;
}

.row, .col {
	display: flex;
}

.row, .row-fluid {
	flex-direction: row;
	flex-wrap: wrap;
}

.col, .col-fluid {
	flex-direction: column;
}

/* ##### Mobile S ##### */
@media (min-width: 0px) {
	
	.container { width: 320px; }
	
	.col-1 { width: 8.333%; }
	.col-2 { width: 16.666%; }
	.col-3 { width: 25%; }
	.col-4 { width: 33.333%; }
	.col-5 { width: 41.666%; }
	.col-6 { width: 50%; }
	.col-7 { width: 58.333%; }
	.col-8 { width: 66.666%; }
	.col-9 { width: 75%; }
	.col-10 { width: 83.333%; }
	.col-11 { width: 91.666%; }
	.col-12 { width: 100%; }
	
	.col-mb-s-1 { width: 8.333%; }
	.col-mb-s-2 { width: 16.666%; }
	.col-mb-s-3 { width: 25%; }
	.col-mb-s-4 { width: 33.333%; }
	.col-mb-s-5 { width: 41.666%; }
	.col-mb-s-6 { width: 50%; }
	.col-mb-s-7 { width: 58.333%; }
	.col-mb-s-8 { width: 66.666%; }
	.col-mb-s-9 { width: 75%; }
	.col-mb-s-10 { width: 83.333%; }
	.col-mb-s-11 { width: 91.666%; }
	.col-mb-s-12 { width: 100%; }
}

/* ##### Mobile M ##### */
@media (min-width: 375px) {
	
	.container { width: 375px; }
	
	.col-mb-m-1 { width: 8.333%; }
	.col-mb-m-2 { width: 16.666%; }
	.col-mb-m-3 { width: 25%; }
	.col-mb-m-4 { width: 33.333%; }
	.col-mb-m-5 { width: 41.666%; }
	.col-mb-m-6 { width: 50%; }
	.col-mb-m-7 { width: 58.333%; }
	.col-mb-m-8 { width: 66.666%; }
	.col-mb-m-9 { width: 75%; }
	.col-mb-m-10 { width: 83.333%; }
	.col-mb-m-11 { width: 91.666%; }
	.col-mb-m-12 { width: 100%; }
}

/* ##### Mobile L ##### */
@media (min-width: 425px) {
	
	.container { width: 425px; }
	
	.col-mb-l-1 { width: 8.333%; }
	.col-mb-l-2 { width: 16.666%; }
	.col-mb-l-3 { width: 25%; }
	.col-mb-l-4 { width: 33.333%; }
	.col-mb-l-5 { width: 41.666%; }
	.col-mb-l-6 { width: 50%; }
	.col-mb-l-7 { width: 58.333%; }
	.col-mb-l-8 { width: 66.666%; }
	.col-mb-l-9 { width: 75%; }
	.col-mb-l-10 { width: 83.333%; }
	.col-mb-l-11 { width: 91.666%; }
	.col-mb-l-12 { width: 100%; }
}

/* ##### Tablet ##### */
@media (min-width: 768px) {
	
	.container { width: 768px; }
	
	.col-tl-1 { width: 8.333%; }
	.col-tl-2 { width: 16.666%; }
	.col-tl-3 { width: 25%; }
	.col-tl-4 { width: 33.333%; }
	.col-tl-5 { width: 41.666%; }
	.col-tl-6 { width: 50%; }
	.col-tl-7 { width: 58.333%; }
	.col-tl-8 { width: 66.666%; }
	.col-tl-9 { width: 75%; }
	.col-tl-10 { width: 83.333%; }
	.col-tl-11 { width: 91.666%; }
	.col-tl-12 { width: 100%; }
}

/* ##### Laptop ##### */
@media (min-width: 1024px) {
	
	.container { width: 1024px; }
	
	.col-lt-1 { width: 8.333%; }
	.col-lt-2 { width: 16.666%; }
	.col-lt-3 { width: 25%; }
	.col-lt-4 { width: 33.333%; }
	.col-lt-5 { width: 41.666%; }
	.col-lt-6 { width: 50%; }
	.col-lt-7 { width: 58.333%; }
	.col-lt-8 { width: 66.666%; }
	.col-lt-9 { width: 75%; }
	.col-lt-10 { width: 83.333%; }
	.col-lt-11 { width: 91.666%; }
	.col-lt-12 { width: 100%; }
}

/* ##### Laptop L ##### */
@media (min-width: 1440px) {
	
	.container { width: 1440px; }
	
	.col-lt-l-1 { width: 8.333%; }
	.col-lt-l-2 { width: 16.666%; }
	.col-lt-l-3 { width: 25%; }
	.col-lt-l-4 { width: 33.333%; }
	.col-lt-l-5 { width: 41.666%; }
	.col-lt-l-6 { width: 50%; }
	.col-lt-l-7 { width: 58.333%; }
	.col-lt-l-8 { width: 66.666%; }
	.col-lt-l-9 { width: 75%; }
	.col-lt-l-10 { width: 83.333%; }
	.col-lt-l-11 { width: 91.666%; }
	.col-lt-l-12 { width: 100%; }
}

/* ##### Desktop ##### */
@media (min-width: 1920px) {
	
	.container { width: 1920px; }
	
	.col-dt-1 { width: 8.333%; }
	.col-dt-2 { width: 16.666%; }
	.col-dt-3 { width: 25%; }
	.col-dt-4 { width: 33.333%; }
	.col-dt-5 { width: 41.666%; }
	.col-dt-6 { width: 50%; }
	.col-dt-7 { width: 58.333%; }
	.col-dt-8 { width: 66.666%; }
	.col-dt-9 { width: 75%; }
	.col-dt-10 { width: 83.333%; }
	.col-dt-11 { width: 91.666%; }
	.col-dt-12 { width: 100%; }
}

/* ##### 4K ##### */
@media (min-width: 2560px) {
	
	.container { width: 2560px; }
	
	.col-4k-1 { width: 8.333%; }
	.col-4k-2 { width: 16.666%; }
	.col-4k-3 { width: 25%; }
	.col-4k-4 { width: 33.333%; }
	.col-4k-5 { width: 41.666%; }
	.col-4k-6 { width: 50%; }
	.col-4k-7 { width: 58.333%; }
	.col-4k-8 { width: 66.666%; }
	.col-4k-9 { width: 75%; }
	.col-4k-10 { width: 83.333%; }
	.col-4k-11 { width: 91.666%; }
	.col-4k-12 { width: 100%; }
}














/* END */